html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #e8f3ff;
}

#top {
  text-align: center;
  margin: 0 auto;
}

#top h1 {
  font-size: 2em;
}

#content {
  text-align: center;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.mealText, .mealTitle {
  display: inline;
}

#clearButton {
  float:left;
}

#filteredMealForm {
  display: none;
}

h3 {
  text-align: center;
}

/* Float four columns side by side */
.column {
  width: 20%;
  padding: 0 10px 20px;
  display:inline-block;
  float:none;
  /* reset the text-align */
  text-align:left;
  /* inline-block space fix */
  margin-right:-4px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {
  margin: 0 -5px;
  text-align:center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: left; /*was center*/
  background-color: #f1f1f1;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.button {
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
  padding: 4px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', 'Calibri', 'Arial', sans-serif;
}

.button:hover {
  background-color: #e7e7e7;
}

.content-warning {
  font-size: 12px;
}

h1, p, h3, label, input {
  font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', 'Calibri', 'Arial', sans-serif;
}

input {
  font-size: 16px;
}

.select {
  width: auto;
  margin: 0 auto;
  font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', 'Calibri', 'Arial', sans-serif;
  font-size: 18px;
  color: #60666d;
  cursor: pointer;
}

@keyframes HideList {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0);
  }
}